.option {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 8px 16px 8px 8px;
    transition: background-color 0.2s;
    font-weight: 500;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    color: rgba(19, 8, 23, 0.9);
    cursor: pointer;

    &:hover {
        background: rgba(19, 8, 23, 0.05);
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    font-weight: 500;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    color: rgba(19, 8, 23, 0.9);
}

.subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: rgba(19, 8, 23, 0.4);
}

.checkbox-icon {
    & rect {
        fill: #6e328c;
    }

    & path {
        stroke: #fff;
    }
}

.context-icon {
    margin-right: 8px;
}
